/* FAQ Container */
.faq {
  display: block;
}

/* Grid Layout for Intro */
.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 661px) {
  .flex {
    grid-template-columns: 1fr;
  }
}

/* Section Label */
.faq__section_label {
  font-size: 0.9rem;
  border: 1px solid var(--border--primary);
  width: fit-content;
  padding: 3px 10px;
  border-radius: 20px;
  margin: 2rem 0 1rem;
}

/* Heading + Description */
.faq__heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.faq__description {
  font-size: 1rem;
  color: var(--text--secondary);
  margin-bottom: 2rem;
}

/* FAQ List Wrapper */
.faq__wrapper {
  display: block;
}
.faq__item {
  background-color: var(--card);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 0.6rem;
  position: relative;
  transition: background-color 0.3s ease;
  border: 1px solid transparent;
}

.faq__question {
  font-size: 1.2rem;
  cursor: pointer;
  list-style: none;
}

.faq__answer {
  font-size: 1rem;
  border-left: 3px solid var(--border--primary);
  padding-left: 1rem;
  margin-top: 1rem;
  color: var(--text--primary);
}

/* Only hide when details is closed */
.faq__item:not([open]) .faq__answer {
  display: none;
}

.faq__item_active {
  border-color: var(--border--primary);
}