@import "../nabongo-institute/index.css";

/* -------------------------------
   Navigation Container
---------------------------------- */
#navigation {
  background-color: var(--bg--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding-top: 1rem;
}

/* -------------------------------
   Brand Section (Logo & Name)
---------------------------------- */
#navigation .nav-brand {
  display: flex;
  align-items: center;
  gap: 5px;
}

#navigation .nav-brand .nav-logo {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
}

#navigation .nav-brand .nav-brand-name {
  font-size: 1rem;
  font-weight: bold;
}

/* -------------------------------
   Navigation Links
---------------------------------- */
#navigation .nav-links {
  display: flex;
  gap: 3vw;
  list-style: none;
}

#navigation .nav-links .nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

#navigation .nav-links .nav-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--border--primary);
}

/* -------------------------------
   Action Button (Panel / Toggle)
---------------------------------- */
#navigation .nav-action {
  display: none;
  justify-content: flex-end;
}

#navigation .nav-action .menu-toggle-btn {
  width: 40px;
  height: 40px;
}

/* -------------------------------
   Responsive Styles
---------------------------------- */
@media (max-width: 661px) {
  #navigation .nav-links {
    display: none;
  }

  #navigation .nav-action {
    display: flex;
  }
}
